table, td{
    border: 1px solid black;
}

input:hover, textarea:hover{
    background-color: silver;
}

.botao{
    text-align: center;
    padding: 10px;
}

.botao input{
    margin: 0 5px;
}

#enviar{
    background-color: white;
    color: green;
}

#limpar{
    background-color: white;
    color: red;
}